{% extends "CHospital/base.html" %}
{% block content %}
   <div class="app-title">
        <div>
          <h1><i class="fa fa-users"></i> Patient's Records</h1>
          <p>Welcome to Uni-Abuja Computerised Hospital Management System </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="{% url 'CHMS-records' %}">Records</a></li>
        </ul>
   </div>
    <div class="row">
        <div class="col-lg-7">
             <p class="bs-component">
               <a class="btn btn-primary icon-btn" href="{% url 'CHMS-create' %}"><i class="fa fa-plus"></i>Add Patient</a>
               <a class="btn btn-primary icon-btn" href=""><i class="fa fa-file"></i>Upload Patients</a>

             </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Hospital Number</th>
                      <th>Matric No/ Staff ID</th>
                      <th>DOB</th>
                      <th>Gender</th>
                      <th>Phone</th>
                      <th>Date Registered</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for patient in patients %}
                        <tr>
                          <td>{{ patient.surname}} {{ patient.firstname}} {{ patient.othername}}</td>
                          <td>{{ patient.hopitalNo}}</td>
                          <td>{{ patient.matric_staff}}</td>
                          <td>{{ patient.dob|date:"F d, Y"}}</td>
                          <td>{{ patient.gender}}</td>
                          <td>{{ patient.phone}}</td>
                          <td>{{ patient.createDate}}</td>
                          <td>
                              <div class="btn-group"><a class="btn btn-primary" href="{% url 'CHMS-appointmentCreate' patient.id %}"><i class="fa fa-lg fa-plus"></i></a><a class="btn btn-secondary" href="{% url 'CHMS-update' patient.id %}"><i class="fa fa-lg fa-edit"></i></a><a class="btn btn-danger" href="{% url 'CHMS-delete' patient.id %}"><i class="fa fa-lg fa-trash"></i></a><a class="btn btn-info" href="{% url 'CHMS-detail' patient.id %}"><i class="fa fa-lg fa-info-circle"></i></a></div>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{%endblock content%}
