{% extends "CHospital/base.html" %}
{% block content %}
   <div class="app-title">
        <div>
          <h1><i class="fa fa-info-circle"></i> {{ object.name }}'s Role</h1>
          <p>Welcome to Uni-Abuja Computerised Hospital Management System </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="{% url 'CHMS-records' %}">Records</a></li>
        </ul>
   </div>
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-title-w-btn">
              <div class="btn-group"><a class="btn btn-primary" href="{% url 'CHMS-Role'%}"><i class="fa fa-lg fa-arrow-left"></i>Back</a></div>
              <div class="btn-group"><a class="btn btn-primary" href="{% url 'CHMS-RoleUpdate' object.id %}"><i class="fa fa-lg fa-edit"></i></a><a class="btn btn-primary" href=""><i class="fa fa-lg fa-trash"></i></a></div>
            </div>
            <div class="tile-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="">Name: <span class="font-italic text-uppercase">{{ object.role }}</span> </h4>
                        <h4>Created By: <span class="font-italic text-uppercase">{{ object.creator }}</span>  </h4>
                        <h4>Created On: <span class="font-italic text-uppercase">{{ object.createDate|date:"F d, Y" }}</span></h4>

                    </div>

                </div>

            </div>
          </div>
        </div>
{% endblock content %}