{% extends "CHospital/base.html" %}
{% block content %}
   <div class="app-title">
        <div>
          <h1><i class="fa fa-user"></i> Marital Status</h1>
          <p>Welcome to Uni-Abuja Computerised Hospital Management System </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="{% url 'CHMS-marital' %}">Admin</a></li>
        </ul>
   </div>
    <div class="row">
        <div class="col-lg-7">
             <p class="bs-component">
               <a class="btn btn-primary icon-btn" href="{% url 'CHMS-maritalCreate' %}"><i class="fa fa-plus"></i>Add Marital Status</a>
             </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Create Date</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for marital in marital %}
                        <tr>
                          <td>{{ marital.name}}</td>
                          <td>{{ marital.createDate|date:"F d, Y"}}</td>
                          <td>
                              <div class="btn-group"><a class="btn btn-secondary" href="{% url 'CHMS-maritalUpdate' marital.id %}"><i class="fa fa-lg fa-edit"></i></a><a class="btn btn-info" href="{% url 'CHMS-maritalDetail' marital.id %}"><i class="fa fa-lg fa-info-circle"></i></a><a class="btn btn-danger" href="{% url 'CHMS-maritalDelete' marital.id %}"><i class="fa fa-lg fa-trash"></i></a></div>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{%endblock content%}
