{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

             <form class="login-form" method="POST">
                 {% csrf_token %}
                    <h3 class="login-head"><i class="fa fa-lg fa-fw fa-key"></i>Resend Password</h3>
                 <div class="form-group">
                     {{ form|crispy }}
                 </div>

                 <div class="form-group btn-container">
                    <button class="btn btn-outline-primary" type="submit">Request Password Reset</button>
                 </div>
                  <div class="btn-group btn-container" style="margin-top:10px;">
                     <a class="btn btn-primary" href="javascript:window.history.back();">
                         <i class="fa fa-lg fa-arrow-left"></i>
                     </a>
                 </div>
             </form>

{% endblock content %}

