{% extends "CHospital/base.html" %}
{% block content %}
  <div class="app-title">
        <div>
          <h1><i class="fa fa-info-circle"></i> {{ object.appointmentID.patientID.surname }}'s Doctor's Note</h1>
          <p>Welcome to Uni-Abuja Computerised Hospital Management System </p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="{% url 'CHMS-records' %}">Records</a></li>
        </ul>
   </div>
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-title-w-btn">
          <div class="btn-group"><a class="btn btn-primary" href="{% url 'CHMS-doctorNote'%}"><i class="fa fa-lg fa-arrow-left"></i>Back</a></div>
          <div class="btn-group"><a class="btn btn-primary" href="{% url 'CHMS-doctorNoteUpdate' doctorNote.id %}"><i class="fa fa-lg fa-edit"></i></a><a class="btn btn-primary" href=""><i class="fa fa-lg fa-trash"></i></a></div>
        </div>
        <div class="card mb-3 text-white bg-dark">
            <div class="card-body">
                <div class="tile-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Patient Name:</h5>
                        </div>
                        <div class="col-md-6">
                        <h4>{{ object.appointmentID.patientID.surname}} {{ object.appointmentID.patientID.firstname}} {{ object.appointmentID.patientID.othername}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Hospital Number:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.appointmentID.patientID.hopitalNo}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Appointment Type:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.appointmentID.AppointmentTypeID}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Status:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.status }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Observations:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.observation }}</h4>
                        </div>
                    </div><div class="row">
                        <div class="col-md-6">
                            <h5>Plan:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.plan }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Assessment:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.assessment }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Remark:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.remark }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Creator:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.creator }}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Create Date:</h5>
                        </div>
                        <div class="col-md-6">
                            <h4>{{ object.createDate|date:"F d, Y" }}</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
      </div>
      </div>
    </div>

{% endblock content %}